.images {
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
  &--svg{
    height: auto;
  }
}

@media (max-width: $mq-medium) {
  .images {
    &--swiper {
      order: -1;
    }
  }
}
