// colors
$white: #ffffff;
$main-backgroud: #f5f5f5;
$black: #000000;
$hover-backgroud: #920303;
// Border-radius
$radius-s: 0.7rem;
$radius-md: 1rem;

// font-family
$sofia-pro: "Sofia Pro";
$rubik: 'Rubik';

// font-weight
$lighter: 300;
$light: 400;
$normal: 500;
$bold: 700;

//  media queries
$mq-largest: 90em; // 1440px
$mq-large: 72em; // 1152px
$mq-medium: 59em; // 944px
$mq-small: 37.5em; // 600px
$mq-smallest: 20em; // 500px
