@import url('http://fonts.cdnfonts.com/css/sofia-pro');
@import url('http://fonts.cdnfonts.com/css/rubik');
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: $mq-large) {
  html {
    font-size: 50%;
  }
}