.header {
  min-height: 40px;
  background-color: white;
  box-shadow: $navbar-shadow;
  .nav-bar {
    &-container {
      height: 8.1rem;
      margin: 0 14.5rem;
      @include flex($justify: space-between);
      &__content {
        @include flex;
      }
    }
  }
}
@media (max-width: $mq-largest) {
  .header {
    .nav-bar {
      &-container {
        margin: 0 0;
      }
    }
  }
}

@media (max-width: $mq-large) {
  .header {
    padding-left: 12px;
    padding-top: 4px;
    .nav-bar {
      width: 28px;
      height: 28px;
      @include clickable;
      &-container {
        width: 2.5rem;
        height: 0.2rem;
        top: 8px;
        left: 4px;
        display: block;
        position: relative;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        background: #000;
        &:after {
          content: "";
          width: 2.5rem;
          height: 0.3rem;
          position: absolute;
          left: 0;
          top: 0.7rem;
          background: #000;
        }
        &:before {
          content: "";
          width: 2.5rem;
          height: 0.3rem;
          position: absolute;
          left: 0;
          bottom: 0.7rem;
          background: #000;
        }
        &__container {
          display: none;
        }
      }
    }
  }
}
