.ad-banner {
  padding-top: 8.2rem;
  padding-left: 12.5rem;
  border-radius: $radius-s;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  &__title {
    @include fontStyles(3.5rem, $bold, 3.2rem);
    color: $white;
    margin-top: 0;
    margin-bottom: 2.9rem;
  }
  &__content {
    @include fontStyles(2rem, $light, 3.2rem);
    color: $white;
    margin-bottom: 0 !important;
    &--with-icons{
      margin-bottom: 1.4rem;
    }
    &--first {
      max-width: 30rem;
    }
    &--second {
      max-width: 32.4rem;
      margin-bottom: 0.8rem !important;
    }
    &-bg-black {
      background-color: $black;
      padding: 0 0.4rem;
    }
    &-bg-red {
      background-color: $hover-backgroud;
    }
  }
  &__icons {
    @include flex;
    margin-bottom: 2.4rem;
    .icon {
      margin-right: 1.2rem;
    }
  }
}

@media (max-width: $mq-medium) {
    .ad-banner {
        padding-top: 8.2rem;
        padding-left: 3.5rem;
    }
  }